# Telegram Configuration
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_CHAT_ID

# TigerTrade & Order Flow Bot Configuration
TIGERTRADE_API_KEY=YOUR_TIGERTRADE_API_KEY
TIGERTRADE_SECRET_KEY=YOUR_TIGERTRADE_SECRET_KEY
TIGERTRADE_SERVER_URL=http://127.0.0.1:8989
